<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  
  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="MODEL3D" name="3D Model (3dhop/.nxs) Item Viewer" version="1.0" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in adds a new item viewer for 3D model content (.nxs) using the 3dhop library.</Description>
      <Authors>
        <Author name="Bernardy, Richard" email="rbernard@usf.edu" />
      </Authors>
      <Permissions>GNU General Public License Version 3, 29 June 2007. https://www.gnu.org/licenses/gpl-3.0.en.html</Permissions>
    </AdminInfo>

    <!-- Reference one of more assemblies (referenced relative to the plugin folder) -->
    <Assembly id="MODEL3D" name="MODEL3D.dll" />
  </Extension>

  <WriterViewers ClearAll="false">                                           -->
    <SpecialWriters>
	  <ItemWriter>
        <ItemViewers>
          <ItemViewer type="MODEL3D" viewerCode="model3d" assembly="MODEL3D" class="MODEL3D.MODEL3D_ItemViewer_Prototyper" enabled="true" />
        </ItemViewers>
      </ItemWriter>
    </SpecialWriters>      
  </WriterViewers>
  
</SobekCM_Config>
